*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    width: 200px;
}
.nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav ul {
 display: flex;  
}
.nav ul li{
    list-style-type: none;
    
}
.list{
   gap: 20px; 
}
.input{
    height: 30px;
    width: 300px;
}
.flat{
    width: 1400px;
}
.custom{
    align-items: center;
    justify-content: center;  
}