*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    width: 200px;
}
.nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav ul {
 display: flex;  
}
.nav ul li{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    font-weight: 700;
    text-transform: uppercase;
}
    
.list{
   gap: 20px; 
}
.input{
    height: 30px;
    width: 300px;
}
.icon .text{
    color: #282c3f;
    font-weight: 700;
}
.heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.1em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.carousel-inner .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-item img {
    width: 16.66%;
    object-fit: cover;
  }